.navbar-container {
  border: 1px gray dotted;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

/*Styling the container*/
.navbar {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 30px;
  grid-gap: 10px;

  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/*Styling for hyperlinks*/
.navbar > div > a {
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
}

/*Styling for buttons */
.navbar > div {
  height: 30px;
  line-height: 30px;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: blue;
  flex: 1 1 auto;
  border: 1px purple solid;
  border-radius: 10px;
  text-align: center;

  /* and that, will result in a 10px gap */
}

.navbar > div:hover {
  background-color: bisque;
}
